$base-rem-multiplier: 16px;

/* Colors */
$t-colors: (
  'dark-brown': #7c4732,
  'brown': #9f5f45,
  'bronze': #c57a5c,
  'pink': #ffdbcc,
  'dusty-pink': #f8eae4,
  'offblack': #262424,
  'darkestblack': #161515,
  // 'offblack': #252525,
  'black': #000,
  // 'mid-beige-dark': #7a7672,
  'mid-beige': #7a7672,
  'beige': #c7c2bb,
  'offwhite': #ede9e5,
  'offwhite-light': #f6f4f2,
  // 'offwhite': #f9f7f4,
  'white': #fff,
);

$t-spacing: (
  '0': 0,
  '3xs': clamp(0.25rem, calc(0.23rem + 0.09vw), 0.38rem),
  '2xs': clamp(0.5rem, calc(0.46rem + 0.19vw), 0.75rem),
  'xs': clamp(0.75rem, calc(0.69rem + 0.28vw), 1.13rem),
  's': clamp(1rem, calc(0.93rem + 0.38vw), 1.5rem),
  'm': clamp(1.5rem, calc(1.39rem + 0.56vw), 2.25rem),
  '2m': clamp(1.44rem, calc(1.26rem + 0.92vw), 2.67rem),
  'l': clamp(2rem, calc(1.85rem + 0.75vw), 3rem),
  'xl': clamp(3rem, calc(2.78rem + 1.13vw), 4.5rem),
  '2xl': clamp(4rem, calc(3.7rem + 1.5vw), 6rem),
  // Changed 3xl value to 2xl-3xl. Original value: clamp(6.00rem, calc(5.56rem + 2.25vw), 9.00rem);
  '3xl': clamp(4rem, calc(3.26rem + 3.75vw), 9rem),
  /* Custom pairs */ '2xl-3xl': clamp(4rem, calc(3.26rem + 3.75vw), 9rem),
  's-3xl': clamp(1rem, calc(-0.19rem + 6vw), 9rem),
);

/* Typo sizes */
$t-typography-size: (
  'step-n2': clamp(0.69rem, calc(0.67rem + 0.11vw), 0.84rem),
  'step-n1': clamp(0.83rem, calc(0.79rem + 0.22vw), 1.13rem),
  'step-0': clamp(1rem, calc(0.93rem + 0.38vw), 1.5rem),
  'step-1': clamp(1.2rem, calc(1.08rem + 0.6vw), 2rem),
  'step-2': clamp(1.44rem, calc(1.26rem + 0.92vw), 2.67rem),
  'step-3': clamp(1.73rem, calc(1.46rem + 1.37vw), 3.55rem),
  'step-4': clamp(2.07rem, calc(1.68rem + 2vw), 4.74rem),
  'step-5': clamp(2.49rem, calc(1.92rem + 2.87vw), 6.31rem),
  'step-6': clamp(2.99rem, calc(2.18rem + 4.07vw), 8.42rem),
  'step-7': clamp(3.58rem, calc(2.45rem + 5.73vw), 11.22rem),
  'step-8': clamp(2.57rem, calc(0.73rem + 9.3vw), 14.95rem),
) !default;

/* Typo line height */
$t-typography-line-height: (
  'light': 0.9,
  'normal': 1,
  'loose': 1.1,
) !default;

/* Typo trackings */
$t-typography-tracking: (
  'tight': -0.01em,
  'normal': 0,
  'wide': 0.01em,
  'extra-wide': 0.075em,
) !default;

/* Typo weight */
$t-typography-weight: (
  'light': 300,
  'normal': 400,
  'medium': 600,
  'bold': 700,
) !default;

/* Font face */
$t-fonts: (
  '1': (
    // style-name: value
    'font-family': 'FT base',
    'src': url('../../fonts/FTBase-Book.woff2') format('woff2'),
    'font-weight': 300,
  ),
  '2': (
    // style-name: value
    'font-family': 'FT base',
    'src': url('../../fonts/FTBase-Regular.woff2') format('woff2'),
    'font-weight': 400,
  ),
);

/* Default fonts */
$t-typography--sans: 'FT base, Helvetica Neue, Helvetica, Arial, sans-serif' !default;
$t-typography--serif: 'serif' !default;
$t-typography--default-font: #{$t-typography--sans};

/* Opacity */
$t-opacity: (
  '0': 0,
  '10': 0.1,
  '20': 0.2,
  '100': 1,
);

/* Scale multiplier */
$multiplier: 4px;

/* Scales */
$t-scale: (
  '0': 0,
  '1': $multiplier * 1,
  '2': $multiplier * 2,
  '3': $multiplier * 3,
  '4': $multiplier * 4,
  '5': $multiplier * 5,
);

/* Ratios */
$t-ratio: (
  '1x1': calc(1 / 1),
  '3x4': calc(3 / 4),
  '16x9': calc(16 / 9),
);

/* Breakpoints */
$t-breakpoints: (
  'xs': 0,
  'sm': 390px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

/* Grid */
$t-layout: (
  'container': (
    'max-width': (
      // 'xs': 400px,
      'lg': 1440px,
    ),
    'margin': (
      'xs': 20px,
      'lg': 64px,
    ),
  ),
  'grid': (
    'columns': 12,
    'gutter': (
      'xs':
        map-get(
          $map: $t-spacing,
          $key: 's-3xl',
        ),
    ),
  ),
);

//border utility
$t-border-width: 1px !default;
$t-border-widths: (
  'width': '1px',
  'style': 'solid',
  'color': 'var(--c-blue-dark)',
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;
$t-border-style: solid !default;
$t-border-color: black !default;
$t-border-color-translucent: rgba(red, 0.175) !default;

// UTILITY BUILDER

/* Typo styles */
$t-typography: (
  'xs': (
    'step-8': (
      'font-size': map-get($t-typography-size, step-8),
      'line-height': map-get($t-typography-line-height, light),
      'letter-spacing': -0.1638rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'step-7': (
      'font-size': map-get($t-typography-size, step-7),
      'line-height': map-get($t-typography-line-height, light),
      'letter-spacing': -0.1638rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h0': (
      'font-size': map-get($t-typography-size, step-6),
      'line-height': map-get($t-typography-line-height, light),
      'letter-spacing': -0.125rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h1': (
      'font-size': map-get($t-typography-size, step-5),
      'line-height': map-get($t-typography-line-height, normal),
      'letter-spacing': -0.0963rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h2': (
      'font-size': map-get($t-typography-size, step-4),
      'line-height': map-get($t-typography-line-height, normal),
      'letter-spacing': -0.0737rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h3': (
      'font-size': map-get($t-typography-size, step-3),
      'line-height': map-get($t-typography-line-height, normal),
      'letter-spacing': -0.0563rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h4': (
      'font-size': map-get($t-typography-size, step-2),
      'line-height': map-get($t-typography-line-height, loose),
      'letter-spacing': -0.0219rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'h5': (
      'font-size': map-get($t-typography-size, step-1),
      'line-height': map-get($t-typography-line-height, loose),
      'letter-spacing': -0.0169rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'p1': (
      'font-size': map-get($t-typography-size, step-0),
      'line-height': map-get($t-typography-line-height, loose),
      'letter-spacing': -0.0131rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'p2': (
      'font-size': map-get($t-typography-size, step-n1),
      'line-height': map-get($t-typography-line-height, loose),
      'letter-spacing': -0.01rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
    'p3': (
      'font-size': map-get($t-typography-size, step-n2),
      'line-height': map-get($t-typography-line-height, loose),
      'letter-spacing': -0.0081rem,
      'font-weight': map-get($t-typography-weight, light),
    ),
  ),
);

// LAYOUT BUILDER

/* stack classes */
$t-stack: (
  'Stack': (
    'prefix': 'stack-',
    'items': $t-spacing,
    'property': 'margin-block-start',
    'responsive': true,
  ),
);
