/* Utility classes */
$t-utility: (
  /*
    -------------------
    ROOT UTILITIES:-
    -------------------
  */ /* Breakpoints */ 'Breakpoints':
    (
      'prefix': 'br-',
      'items': $t-breakpoints,
      'root': true,
    ),
  /* Typography size */ 'Typography Size':
    (
      'prefix': 'typo-size-',
      'items': $t-typography-size,
      'root': true,
    ),

  /* Colors */ 'Colors':
    (
      'prefix': 'c-',
      'items': $t-colors,
      'root': true,
    ),
  /* Scales */ 'scale':
    (
      'prefix': 'scale-',
      'items': $t-scale,
      'root': true,
      'rem': true,
    ),
  /* Space */ 'Space':
    (
      'prefix': 'space-',
      'items': $t-spacing,
      'root': true,
    ),
  /* Border Width */ 'Border Width':
    (
      'prefix': 'border-',
      'items': $t-border-widths,
      'root': true,
    ),
  /*
    -------------------
    PROPERTY UTILITIES:-
    Make "'root': true" if root variables are required
    Make "'responsive': true" if breakpoints are required
    -------------------
  */
    /* Border radius */ 'Border radius':
    (
      'prefix': 'radius-',
      'items': (
        '0': 0,
        '1': 4px,
        '2': 8px,
        '3': 12px,
        '4': 16px,
        '5': 20px,
        '6': 24px,
        '7': 28px,
        '8': 32px,
      ),
      'property': 'border-radius',
      'responsive': true,
      'root': true,
      'rem': true,
      'render': true
    ),
  /* Border radius top */ 'Border radius top':
    (
      'prefix': 'rounded-top',
      'items': (
        null: '4px',
        '0': 0,
        '1': '2px',
        '2': '4px',
        '3': '6px',
        '4': '8px',
        '5': '10px',
        'circle': '50%',
        'pill': '500px',
      ),
      'property': 'border-top-left-radius border-top-right-radius',
      'root': false,
      'render': false,
    ),
  /* Border radius bottom */ 'Border radius bottom':
    (
      'prefix': 'rounded-bottom',
      'items': (
        null: '4px',
        '0': 0,
        '1': '2px',
        '2': '4px',
        '3': '6px',
        '4': '8px',
        '5': '10px',
        'circle': '50%',
        'pill': '500px',
      ),
      'property': ' border-bottom-right-radius border-bottom-left-radius',
      'root': false,
      'render': false,
    ),
  /* Border radius start */ 'Border radius start':
    (
      'prefix': 'rounded-start',
      'items': (
        null: '4px',
        '0': 0,
        '1': '2px',
        '2': '4px',
        '3': '6px',
        '4': '8px',
        '5': '10px',
        'circle': '50%',
        'pill': '500px',
      ),
      'property': 'border-bottom-left-radius border-top-left-radius',
      'root': false,
      'render': false,
    ),
  /* Border radius end */ 'Border radius end':
    (
      'prefix': 'rounded-end',
      'items': (
        null: '4px',
        '0': 0,
        '1': '2px',
        '2': '4px',
        '3': '6px',
        '4': '8px',
        '5': '10px',
        'circle': '50%',
        'pill': '500px',
      ),
      'property': 'border-top-right-radius border-bottom-right-radius',
      'root': false,
      'render': false,
    ),
  /* Bg colors */ 'Background color':
    (
      'prefix': 'bg-',
      'items': $t-colors,
      'property': 'background',
      'root': false,
      'render': true,
    ),
  /* Text colors */ 'Text color':
    (
      'prefix': 'text-',
      'items': $t-colors,
      'property': 'color',
      'root': false,
      'render': true,
    ),
  /* Text align */ 'Text align':
    (
      'prefix': 'text-align-',
      'items': (
        'start': 'start',
        'center': 'center',
        'end': 'end',
      ),
      'property': 'text-align',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Visibility */ 'Visibility':
    (
      'prefix': 'visibility-',
      'items': (
        'visible': 'visible',
        'invisible': 'hidden',
      ),
      'property': 'visibility',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Text decoration */ 'Text decoration':
    (
      'prefix': 'text-decoration-',
      'items': (
        'none ': 'none',
        'underline ': 'underline',
        'line-through': 'line-through',
      ),
      'property': 'text-decoration',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Text Transform */ 'Text transform':
    (
      'prefix': 'text-transform-',
      'items': (
        'lowercase  ': 'lowercase',
        'uppercase  ': 'uppercase',
        'capitalize': 'capitalize',
      ),
      'property': 'text-transform',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Vertical align */ 'Vertical align':
    (
      'prefix': 'vertical-align-',
      'items': (
        'baseline': 'baseline',
        'top': 'top',
        'middle': 'middle',
        'bottom': 'bottom',
        'sub': 'sub',
        'text-top': 'text-top',
      ),
      'property': 'vertical-align',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* White space */ 'White space':
    (
      'prefix': 'white-space-',
      'items': (
        'normal': 'normal',
        'nowrap': 'nowrap',
        'pre': 'pre',
        'pre-wrap': 'pre-wrap',
        'pre-line': 'pre-line',
        'break-spaces': 'break-spaces',
      ),
      'property': 'white-space',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Word wrap */ 'Word wrap':
    (
      'prefix': 'word-wrap-',
      'items': (
        'normal': 'normal',
        'break': 'break-word',
      ),
      'property': 'word-wrap',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Position */ 'Position':
    (
      'prefix': 'position-',
      'items': (
        'static': 'static',
        'relative': 'relative',
        'absolute': 'absolute',
        'fixed': 'fixed',
        'sticky': 'sticky',
      ),
      'property': 'position',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Translate Middle */ 'Translate Middle':
    (
      'prefix': 'translate-',
      'items': (
        'middle': translate(-50%, -50%),
        'middle-x': translateX(-50%),
        'middle-y': translateY(-50%),
      ),
      'property': 'position',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Border */ 'Border':
    (
      'prefix': 'border',
      'items': (
        null: 'var(--border-width) var(--border-style) var(--border-color)',
        '-0': 0,
      ),
      'property': 'border',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* Border top */ 'Border Top':
    (
      'prefix': 'border-top',
      'items': (
        null: 'var(--border-width) var(--border-style) var(--border-color)',
        '-0': 0,
      ),
      'property': 'border-top',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* Border top */ 'Border Bottom':
    (
      'prefix': 'border-bottom',
      'items': (
        null: 'var(--border-width) var(--border-style) var(--border-color)',
        '-0': 0,
      ),
      'property': 'border-bottom',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* Border Start */ 'Border Start':
    (
      'prefix': 'border-left',
      'items': (
        null: 'var(--border-width) var(--border-style) var(--border-color)',
        '-0': 0,
      ),
      'property': 'border-left',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* Border End */ 'Border End':
    (
      'prefix': 'border-end',
      'items': (
        null: 'var(--border-width) var(--border-style) var(--border-color)',
        '-0': 0,
      ),
      'property': 'border-right',
      'responsive': false,
      'root': false,
      'render': false,
    ),
  /* Display */ 'Display':
    (
      'prefix': 'd-',
      'items': (
        'none': 'none',
        'block': 'block',
        'inline': 'inline',
        'inline-block': 'inline-block',
        'inline-flex': 'inline-flex',
        'flex': 'flex',
        'grid': 'grid',
        'inline-grid': 'inline-grid',
      ),
      'property': 'display',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Justify content */ 'Flex justify':
    (
      'prefix': 'justify-content',
      'items': (
        'start': 'flex-start',
        'end': 'flex-end',
        'center': 'center',
        'between': 'space-between',
        'around': 'space-around',
        'evenly': 'space-evenly',
      ),
      'property': 'justify-content',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Align content */ 'Align Content':
    (
      'prefix': 'align-content',
      'items': (
        'start': ' flex-start',
        'end': ' flex-end',
        'center': ' center',
        'between': ' space-between',
        'around': ' space-around',
        'stretch': ' stretch',
      ),
      'property': 'align-content',
      'responsive': true,
      'root': false,
      'render': true,
    ),

  /* Justify content self */ 'Flex justify self':
    (
      'prefix': 'justify-self-',
      'items': (
        'start': 'flex-start',
        'end': 'flex-end',
        'center': 'center',
        'baseline': 'baseline',
        'stretch': 'stretch',
      ),
      'property': 'justify-self',
      'responsive': true,
      'root': false,
    ),

  /* Align items */ 'Flex align':
    (
      'prefix': 'align-items',
      'items': (
        'start': 'flex-start',
        'end': 'flex-end',
        'center': 'center',
        'between': 'space-between',
        'stretch': 'stretch',
      ),
      'property': 'align-items',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Align items */ 'Flex align self':
    (
      'prefix': 'align-self-',
      'items': (
        'auto': 'auto',
        'start': 'flex-start',
        'end': 'flex-end',
        'center': 'center',
        'baseline': 'baseline',
        'stretch': 'stretch',
      ),
      'property': 'align-self',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Flex direction */ 'Flex direction':
    (
      'prefix': 'flex-',
      'items': (
        'column': 'column',
        'column-reverse': 'column-reverse',
        'row': 'row',
        'row-reverse': 'row-reverse',
      ),
      'property': 'flex-direction',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Flex wrap */ 'Flex wrap':
    (
      'prefix': 'flex-',
      'items': (
        'wrap': 'wrap',
        'nowrap': 'nowrap',
        'wrap-reverse': 'wrap-reverse',
      ),
      'property': 'flex-wrap',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Flex grow */ 'Flex grow':
    (
      'prefix': 'flex-grow-',
      'items': (
        '0': '0',
        '1': '1',
      ),
      'property': 'flex-grow',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Flex shrink */ 'Flex shrink':
    (
      'prefix': 'flex-shrink-',
      'items': (
        '0': '0',
        '1': '1',
      ),
      'property': 'flex-shrink',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Order */ 'Order':
    (
      'prefix': 'order-',
      'items': (
        'first': '-1',
        '0': '0',
        '1': '1',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        'last': '6',
      ),
      'property': 'order',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  /* Opacity */ 'Opacity':
    (
      'prefix': 'op-',
      'items': $t-opacity,
      'property': 'opacity',
      'responsive': false,
      'root': false,
    ),
  /* Float */ 'Float':
    (
      'prefix': 'float-',
      'items': (
        'none': 'none',
        'left': 'left',
        'right': 'right',
      ),
      'property': 'float',
      'responsive': true,
      'root': false,
      'render': false,
    ),
  /* Aspect ratio */ 'Aspect ratio':
    (
      'prefix': 'ratio-',
      'items': $t-ratio,
      'property': 'aspect-ratio',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Object fit */ 'Object fit':
    (
      'prefix': 'fit-',
      'items': (
        'cover': 'cover',
        'contain': 'contain',
        'fill': 'fill',
        'scale-down': 'scale-down',
        'none': 'none',
      ),
      'property': 'object-fit',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* User select */ 'User select':
    (
      'prefix': 'user-select-',
      'items': (
        'auto': 'auto',
        'all': 'all',
        'none': 'none',
      ),
      'property': 'user-select',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Pointer events */ 'Pointer-events':
    (
      'prefix': 'pointer-',
      'items': (
        'none': 'none',
        'auto': 'auto',
      ),
      'property': 'pointer-events',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Overflow */ 'Overflow all':
    (
      'prefix': 'overflow-',
      'items': (
        'auto': 'auto',
        'hidden': 'hidden',
        'visible': 'visible',
        'scroll': 'scroll',
      ),
      'property': 'overflow',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  'Overflow x': (
    'prefix': 'overflow-x-',
    'items': (
      'auto': 'auto',
      'hidden': 'hidden',
      'visible': 'visible',
      'scroll': 'scroll',
    ),
    'property': 'overflow-x',
    'responsive': false,
    'root': false,
    'render': true,
  ),
  'Overflow y': (
    'prefix': 'overflow-y-',
    'items': (
      'auto': 'auto',
      'hidden': 'hidden',
      'visible': 'visible',
      'scroll': 'scroll',
    ),
    'property': 'overflow-y',
    'responsive': false,
    'root': false,
    'render': true,
  ),
  /* Z-index */ 'Z-index':
    (
      'prefix': 'z-',
      'items': (
        'n10': '-10',
        '0': '0',
        '10': '10',
        '20': '20',
        '30': '30',
        '40': '40',
        '50': '50',
        '60': '60',
        '70': '70',
        '80': '80',
        '90': '90',
        '100': '100',
      ),
      'property': 'z-index',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Width */ 'Width':
    (
      'prefix': 'w-',
      'items': (
        'auto': 'auto',
        '0': '0',
        '10': '10%',
        '15': '15%',
        '20': '20%',
        '25': '25%',
        '50': '50%',
        '75': '75%',
        '100': '100%',
        '100vw': '100vw',
      ),
      'property': 'width',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Height */ 'Height':
    (
      'prefix': 'h-',
      'items': (
        'auto': 'auto',
        '0': '0',
        '10': '10%',
        '15': '15%',
        '20': '20%',
        '25': '25%',
        '50': '50%',
        '75': '75%',
        '100': '100%',
        '100vh': '100vh',
      ),
      'property': 'height',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Max Width */ 'Max Width':
    (
      'prefix': 'mw-',
      'items': (
        '100': '100%',
      ),
      'property': 'max-width',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Max Height */ 'Max Height':
    (
      'prefix': 'mh-',
      'items': (
        '100': '100%',
      ),
      'property': 'max-height',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* min vw  */ 'Min Vertical width':
    (
      'prefix': 'min-vw',
      'items': (
        null: '100vw',
      ),
      'property': 'max-height',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* min vh  */ 'Min Vertical  Height':
    (
      'prefix': 'min-vh',
      'items': (
        null: '100vw',
      ),
      'property': 'max-height',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Flex Fill  */ 'Flex Fill':
    (
      'prefix': 'flex-fill',
      'items': (
        null: '1 1 auto',
      ),
      'property': 'fill',
      'responsive': false,
      'root': false,
      'render': true,
    ),
  /* Paddings */ 'Padding all':
    (
      'prefix': 'p-',
      'items': $t-spacing,
      'property': 'padding',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  'Padding x': (
    'prefix': 'px-',
    'items': $t-spacing,
    'property': 'padding-inline',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Padding y': (
    'prefix': 'py-',
    'items': $t-spacing,
    'property': 'padding-block',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Padding Top': (
    'prefix': 'pt-',
    'items': $t-spacing,
    'property': 'padding-block-start',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Padding Bottom': (
    'prefix': 'pb-',
    'items': $t-spacing,
    'property': 'padding-block-end',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Padding Left': (
    'prefix': 'ps-',
    'items': $t-spacing,
    'property': 'padding-inline-start',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Padding Right': (
    'prefix': 'pe-',
    'items': $t-spacing,
    'property': 'padding-inline-end',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  /* Margins */ 'Margin all':
    (
      'prefix': 'm-',
      'items': $t-spacing,
      'property': 'margin',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  'Margin x': (
    'prefix': 'mx-',
    'items': $t-spacing,
    'property': 'margin-inline',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Margin y': (
    'prefix': 'my-',
    'items': $t-spacing,
    'property': 'margin-block',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Margin Top': (
    'prefix': 'mt-',
    'items': $t-spacing,
    'property': 'margin-block-start',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Margin Bottom': (
    'prefix': 'mb-',
    'items': $t-spacing,
    'property': 'margin-block-end',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Margin Left': (
    'prefix': 'ms-',
    'items': $t-spacing,
    'property': 'margin-inline-start',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Margin Right': (
    'prefix': 'me-',
    'items': $t-spacing,
    'property': 'margin-inline-end',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  /* Gaps */ 'Gap all':
    (
      'prefix': 'g-',
      'items': $t-spacing,
      'property': 'gap',
      'responsive': true,
      'root': false,
      'render': true,
    ),
  'Gap x': (
    'prefix': 'gx-',
    'items': $t-spacing,
    'property': 'column-gap',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Gap y': (
    'prefix': 'gy-',
    'items': $t-spacing,
    'property': 'row-gap',
    'responsive': true,
    'root': false,
    'render': true,
  ),
  'Font style': (
    'prefix': 'fst-',
    'items': (
      'italic': 'italic',
      'normal': 'normal',
    ),
    'property': 'font-style',
    'responsive': false,
    'root': false,
    'render': true,
  ),
  'Font weight': (
    'prefix': 'fw-',
    'items': $t-typography-weight,
    'property': 'font-weight',
    'responsive': false,
    'root': false,
    'render': false,
  ),
  'Line height': (
    'prefix': 'lh-',
    'items': $t-typography-line-height,
    'property': 'line-height',
    'responsive': false,
    'root': false,
    'render': false,
  )
);
