.#{$global} {
  &-app {
    min-height: 100vh;
  }

  &-wrap {
    flex: 1 0 auto;
  }

  &-main {
    overflow-x: hidden;

    // @include breakpoint-down(md) {
    //   min-height: auto;
    //   height: 100%;
    // }
  }
}
